OPENSQL_BASE_IMAGE=opensql-systemd-ready:latest
OPENSQL_LICENSE_FILE=./opensql/license.xml
OPENSQL_POSTGRES_PASSWORD=change-this-local-password
OPENSQL_REPLICATION_PASSWORD=change-this-replication-password
OPENSQL_REWIND_PASSWORD=change-this-rewind-password
OPENSQL_POSTGRES_PORT=15432
OPENSQL_PROXY_PORT=16432
OPENSQL_PATRONI_PORT=18008
